@mixin flex($just) {
    display: flex;
    justify-content: $just;

}

@mixin flex-full($dir, $just, $ali-i, $wrap: nowrap) {
    display: flex;
    flex-direction: $dir;
    justify-content: $just;
    align-items: $ali-i;
    flex-wrap: $wrap;
}